PENPOT_FLAGS=disable-email-verification disable-secure-session-cookies enable-prepl-server
PENPOT_PUBLIC_URI=https://penpot.chillie.dpdns.org
PENPOT_SECRET_KEY=change-this-to-random-512bit-key
PENPOT_DATABASE_URI=your_db_uri
PENPOT_DATABASE_USERNAME=your_db_user
PENPOT_DATABASE_PASSWORD=your_db_password
PENPOT_REDIS_URI=redis://penpot-valkey/0
