AFFINE_REVISION=stable
PORT=3010

# Database
DB_USERNAME=chillie
DB_PASSWORD=
DB_DATABASE=affine
DB_HOST=database-homelab-psql-sqgqqh.1.mde79uvel1do12sczb44duk71

# AFFiNE
AFFINE_SERVER_HOST=affine.chillie.dpdns.org
AFFINE_SERVER_HTTPS=true
AFFINE_INDEXER_ENABLED=false
